{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username(size=32) }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(size=32) }}
        </div>
        <div>{{ form.remember_me() }} {{ form.remember_me.label }}</div>
        <div>{{ form.submit() }}</div>
    </form>
    <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
{% endblock %}